# Phase-4 Convert all values to numerical (get_dummies)

In [36]:
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
import pandas as pd
from scipy import stats
import seaborn as sns
import warnings;
warnings.filterwarnings("ignore")
import re
pd.set_option("display.max_columns",None)

In [37]:
auto = pd.read_csv('auto_scout_outlier.csv')
df= auto.copy()

In [38]:
df['make_model'].value_counts()

make_model
Audi A3           3097
Audi A1           2614
Opel Insignia     2598
Opel Astra        2525
Opel Corsa        2216
Renault Clio      1839
Renault Espace     991
Renault Duster      34
Audi A2              1
Name: count, dtype: int64

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15915 entries, 0 to 15914
Data columns (total 31 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   make_model               15915 non-null  object
 1   body_type                15915 non-null  object
 2   price                    15915 non-null  int64
 3   vat                      15915 non-null  object
 4   km                       15915 non-null  float64
 5   prev_owner               15915 non-null  float64
 6   hp                       15915 non-null  float64
 7   inspection_new           15915 non-null  int64
 8   warranty                 15915 non-null  float64
 9   body_color               15915 non-null  object
 10  paint_type               15915 non-null  object
 11  nr_of_doors              15915 non-null  float64
 12  nr_of_seats              15915 non-null  float64
 13  gearing_type             15915 non-null  object
 14  displacement             15915 non-null  float64
 15  cylinders                15915 non-null  float64
 16  weight                   15915 non-null  float64
 17  drive_chain              15915 non-null  object
 18  co2_emission             15915 non-null  float64
 19  emission_class           15915 non-null  object
 20  comfort_convenience      14995 non-null  object
 21  entertainment_media      14541 non-null  object
 22  extras                   12953 non-null  object
 23  safety_security          14933 non-null  object
 24  gears                    15915 non-null  float64
 25  electricity_consumption  15915 non-null  int64
 26  year                     15915 non-null  float64
 27  new_used                 15915 non-null  object
 28  fuel_type                15915 non-null  object
 29  upholstery_material      11414 non-null  object
 30  consumption_comb         15915 non-null  float64
dtypes: float64(13), int64(3), object(15)
memory usage: 3.8+ MB

## Apply get_dummies method to object columns

In [11]:
object_columns = ['make_model', 'body_type', 'vat', 'new_used', 'body_color', 'paint_type', 
                  'gearing_type', 'drive_chain', 'fuel_type', 'emission_class']
df_dummied = pd.get_dummies(df, columns= object_columns, drop_first=True, dtype=int)

In [12]:
df_dummied.columns

Index(['price', 'km', 'prev_owner', 'hp', 'inspection_new', 'warranty',
       'nr_of_doors', 'nr_of_seats', 'displacement', 'cylinders', 'weight',
       'co2_emission', 'comfort_convenience', 'entertainment_media', 'extras',
       'safety_security', 'gears', 'electricity_consumption', 'year',
       'upholstery_material', 'consumption_comb', 'make_model_Audi A2',
       'make_model_Audi A3', 'make_model_Opel Astra', 'make_model_Opel Corsa',
       'make_model_Opel Insignia', 'make_model_Renault Clio',
       'make_model_Renault Duster', 'make_model_Renault Espace',
       'body_type_Convertible', 'body_type_Coupe', 'body_type_Off-Road',
       'body_type_Other', 'body_type_Sedans', 'body_type_Station wagon',
       'body_type_Transporter', 'body_type_Van', 'vat_VAT deductible',
       'vat_VAT undeductible', 'new_used_Employee's car', 'new_used_New',
       'new_used_Pre-registered', 'new_used_Used', 'body_color_Black',
       'body_color_Blue', 'body_color_Brown', 'body_color_Green',
       'body_color_Grey', 'body_color_Others', 'body_color_Red',
       'body_color_Silver', 'body_color_White', 'paint_type_Perl effect',
       'paint_type_Uni/basic', 'gearing_type_Manual',
       'gearing_type_Semi-automatic', 'drive_chain_front', 'drive_chain_rear',
       'fuel_type_diesel', 'fuel_type_gas and others', 'emission_class_Euro 5',
       'emission_class_Euro 6'],
      dtype='object')

In [13]:
df_dummied["make_model_Audi A3"]

0        0
1        0
2        0
3        0
4        0
        ..
15910    0
15911    0
15912    0
15913    0
15914    0
Name: make_model_Audi A3, Length: 15915, dtype: int32

## Apply get_dummies method to columns extras, comfort_convenience, entertainment_media

In [42]:
df['extras'].astype('str').str.replace('[','').str.replace("]",'').str.get_dummies(sep=', ')

,'Alloy wheels','Cab or rented Car','Catalytic Converter','Handicapped enabled','Right hand drive','Roof rack','Shift paddles','Ski bag','Sliding door','Sport package','Sport seats','Sport suspension','Touch screen','Trailer hitch','Tuned car','Voice Control','Winter tyres',nan
0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
1,1,0,0,0,0,0,0,0,0,0,1,1,0,0,0,1,0,0
2,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
3,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0
4,1,0,0,0,0,0,0,0,0,1,0,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15910,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
15911,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0
15912,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
15913,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
15914,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0

In [19]:
df['extras'].astype('str').str.replace('[','').str.replace("]",'').str.get_dummies(sep=', ')

,'Alloy wheels','Cab or rented Car','Catalytic Converter','Handicapped enabled','Right hand drive','Roof rack','Shift paddles','Ski bag','Sliding door','Sport package','Sport seats','Sport suspension','Touch screen','Trailer hitch','Tuned car','Voice Control','Winter tyres',nan
0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
1,1,0,0,0,0,0,0,0,0,0,1,1,0,0,0,1,0,0
2,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
3,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0
4,1,0,0,0,0,0,0,0,0,1,0,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15910,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
15911,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0
15912,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
15913,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
15914,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0

In [20]:
df_E = df['extras'].astype('str').str.replace('[','').str.replace("]",'').str.get_dummies(sep=', ')

In [21]:
df_E.drop(columns = ['nan'], inplace=True)

In [43]:
df_E.sum()

'Alloy wheels'           11291
'Cab or rented Car'        310
'Catalytic Converter'     2258
'Handicapped enabled'       52
'Right hand drive'           3
'Roof rack'               2646
'Shift paddles'            508
'Ski bag'                  247
'Sliding door'               3
'Sport package'           1197
'Sport seats'             3098
'Sport suspension'        1618
'Touch screen'            4043
'Trailer hitch'            654
'Tuned car'                 13
'Voice Control'           4326
'Winter tyres'             246
dtype: int64

In [25]:
df_C = df['comfort_convenience'].astype('str').str.replace('[','').str.replace("]",'').str.get_dummies(sep=', ')

In [26]:
df_C.drop(columns=['nan'], inplace=True)

In [28]:
df['entertainment_media'][1]

"'Bluetooth', 'Hands-free equipment', 'On-board computer', 'Radio', 'Sound system'"

In [29]:
df_ent = df['entertainment_media'].astype('str').str.replace('[','').str.replace("]",'').str.get_dummies(sep=', ')

In [30]:
df_ent.drop(columns=['nan'], inplace=True)

In [31]:
df_ent

,'Bluetooth','CD player','Digital radio','Hands-free equipment','MP3','On-board computer','Radio','Sound system','Television','USB'
0,1,0,0,1,0,1,1,0,0,0
1,1,0,0,1,0,1,1,1,0,0
2,0,0,0,0,1,1,0,0,0,0
3,1,1,0,1,1,1,1,1,0,1
4,1,1,0,1,1,1,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...
15910,1,0,1,1,0,1,1,0,0,1
15911,1,0,1,1,0,0,1,0,0,1
15912,1,0,0,1,0,1,1,0,0,0
15913,1,0,1,0,0,0,1,0,0,1
15914,0,0,0,0,0,0,0,0,0,1

In [32]:
df_sec = df['safety_security'].astype('str').str.replace('[','').str.replace("]",'').str.get_dummies(sep=', ')

In [33]:
df_sec.drop(columns=['nan'], inplace=True)

## Drop columns with less 1's

In [13]:
df_E.sum()

'Alloy wheels'           11291
'Cab or rented Car'        310
'Catalytic Converter'     2258
'Handicapped enabled'       52
'Right hand drive'           3
'Roof rack'               2646
'Shift paddles'            508
'Ski bag'                  247
'Sliding door'               3
'Sport package'           1197
'Sport seats'             3098
'Sport suspension'        1618
'Touch screen'            4043
'Trailer hitch'            654
'Tuned car'                 13
'Voice Control'           4326
'Winter tyres'             246
dtype: int64

In [14]:
df_E.columns = df_E.columns.str.replace("'","").str.lower().str.replace(" ","_")

In [15]:
df_E.drop(["right_hand_drive","sliding_door","tuned_car","handicapped_enabled"], axis=1,inplace=True)

In [16]:
df_C.columns = df_C.columns.str.replace("'","").str.lower().str.replace(" ","_")

In [35]:
df_C.sum().sort_values(ascending=False)

'Air conditioning'                       14311
'Power windows'                          13910
'Electrical side mirrors'                11879
'Multi-function steering wheel'          11079
'Cruise control'                         10877
'Park Distance Control'                  10188
'Parking assist system sensors rear'      9693
'Leather steering wheel'                  9383
'Start-stop system'                       8879
'Automatic climate control'               8745
'Rain sensor'                             8612
'Navigation system'                       8164
'Light sensor'                            7670
'Armrest'                                 7224
'Seat heating'                            7077
'Hill Holder'                             6742
'Parking assist system sensors front'     5838
'Parking assist system camera'            3421
'Lumbar support'                          3226
'Heated steering wheel'                   3017
'Keyless central door lock'               2613
'Split rear seats'                        2387
'Electrically adjustable seats'           1866
'Tinted windows'                          1444
'Electric tailgate'                       1003
'Electrically heated windshield'           937
'Seat ventilation'                         834
'Parking assist system self-steering'      768
'Heads-up display'                         606
'Panorama roof'                            551
'Sunroof'                                  372
'Massage seats'                            360
'Auxiliary heating'                        266
'Air suspension'                            62
'Leather seats'                             48
'Wind deflector'                            41
'Windshield'                                12
'Electric Starter'                           1
dtype: int64

In [19]:
df_C.drop(columns=["electric_starter","windshield","wind_deflector", "air_suspension"], inplace=True)

In [20]:
df_ent.drop(columns=["'Television'"], inplace=True)
df_sec.drop(columns=["'Night view assist'"], inplace=True)

## Fill leather_seats column with upholstery_material column

In [21]:
index_leather = df_dummied[(df_dummied['upholstery_material']=='Part leather') \
           | (df_dummied['upholstery_material']=='Full leather') \
           | (df_dummied['upholstery_material']=='alcantara') \
           | (df_dummied['upholstery_material']=='Velour')]['upholstery_material'].index

In [22]:
df_C.loc[index_leather, 'leather_seats'] = 1

In [23]:
df_dummied.drop('upholstery_material',axis=1,inplace=True)

In [24]:
df_dummied.drop(columns=['comfort_convenience', 'safety_security', 'entertainment_media', 'extras'],inplace=True)

In [25]:
df_dummied.drop('drive_chain_rear', axis=1,inplace=True)

## Concat all dummy dataframes

In [26]:
df_last = pd.concat([df_dummied, df_E, df_C, df_ent, df_sec], axis = 1)

In [27]:
df_last.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15915 entries, 0 to 15914
Columns: 140 entries, price to 'Xenon headlights'
dtypes: float64(13), int64(87), uint8(40)
memory usage: 12.7 MB

In [30]:
df_last.isnull().sum().sum()

0

In [31]:
df_last.to_csv('auto_scout_final_D1366_Necip_Ozfidan.csv', index=False)